@import 'reset';
@import 'variables';
@font-face {
     font-family: 'MyBariolReg';
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.eot);
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.woff) format("woff"), url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.ttf) format("truetype"), url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.svg) format("svg");
     font-weight: 400;
     font-style: normal
 }

 @font-face {
     font-family: font-regular;
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/MaisonNeueWEB-Book.woff) format("woff");
 }

 @font-face {
     font-family: font-bold;
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/MaisonNeueWEB-Bold.woff) format("woff");
 }

.preact-mount-node {
  font-family: @font-sansSerifFont;
}
