* {
  margin: 0;
  padding: 0;
}
h2 {
  color: chocolate;
}
.in-house-main__style-reset li div {
    margin-top: 0;
}

// ensure max-width and center
#content_wrapper{
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
}

.comp-breadcrumb .bread-crumb {
 padding: 0;
}

.header-shortlist {
  top: 75px !important;
}

#back-top{
 background: transparent;
 position: relative;
}

#back-top a:before, #back-top a:after {
 display: none !important;
}

div#footer-top-text {
    @include breakpoint(1664px){
      width: auto !important;
      max-width: 1600px;
    }
}
