// font
@font-sansSerifFont: "font-regular";
@font-sansSerifFontBold: "font-bold";

// color
@color-activeTheme: #da1c5c;
@color-disabledGrey: #777777;
@color-textCol: #777777;
@color-textCol_dark: #333333;
@color-border: #ccc ;

// size
@size-fximgSizeWidth: 220px;
@size-fximgSizeHeight: 258px;
@size-fximgSizeWidth_small: 130px;
@size-fximgSizeHeight_small: 152px;

// padding
@pad-innerOfferUnitLi_mobile: 6px;

// breakpoint
@bp-tablet: 768px;
