@import '../../style-global/variables';

.offerUnitDiscountWrapper {
  float: left;
  height: 18px;
  font-size: 12px;
  font-family: @font-sansSerifFontBold;

  span {
    display: inline-block;
    background: white;
    border: 1px solid @color-border;
    padding: 2px 5px 1px;
    border-radius: 2px;
  }
}
