@import '../../style-global/variables';

.offerUnitLi {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  background: white;
  margin-bottom: 1em;
  padding: @pad-innerOfferUnitLi_mobile;
  box-sizing: border-box;
  color: @color-textCol;
}

@media (min-width: @bp-tablet) {
  .offerUnitLi {

  }
}
